body{
    color:white;
    background:black;
    margin: 0px;
     
}

header{
    border-bottom:solid 2px rgb(81, 9, 237);
    padding: 20px;
    font-size: 32;
    color:rgb(53, 22, 192);
     font-family: "Rubik Glitch", system-ui;
}

.chamada{
    background: rgb(172, 136, 211);
    padding-bottom:80px;
    padding-top:80px;
    display:flex;
    justify-content:center;
}

chamada-texto {
    margin-right:5%;
}
h1{ font-size:40px

}

p{
    font-size:20px
}
img{
    height:200px;
}
.categoria-viseos {
display: flex;
overflow-x: auto;
gap:10px
}

.categoria{
    padding-left:20px;
    padding-right:20px;
}
.categoria-viseos img{
    opacity:0.5
}
.categoria-viseos img:hover{
    opacity:1.0
    : 1px solid green;
}